
@{
    ViewBag.Title = "Index";
}

@section BodyClass {
    index-background-body
}
@Html.Partial("_Header")
<div class="index-background-content">
    <section>
        <h1>Hy</h1>
    </section>
</div>