@{
    ViewBag.Title = "Index";
}
@section BodyClass {
    index-background-body
}
@Html.Partial("_Header")
<div class="index-background-content">
    <div class="image-container">
        <img class="index-image" src="@Url.Content("~/Content/Images/3%20(1).jpg")" alt="Background">
        <div class="image-overlay"></div>
        <div class="centered-title">
            <h1>MVG Design Interior</h1>
        </div>
    </div>
</div>
<div class="index-experiences">
    <div class="experience-box">
        <h3>Cine este MVG Design Interior?</h3>
        <p>Suntem o echipă dedicată de profesioniști pasionați de designul interior și de transformarea spațiilor în locuri funcționale și estetice. Fiecare membru al echipei aduce funcționalitate și creativitate în interiorul dumneavoastră.</p>
    </div>
    <div class="experience-box">
        <h3>Experiență</h3>
        <div class="number">10+</div>
        <p>Ani de experiență în domeniul designului interior și amenajărilor de lux.</p>
    </div>
    <div class="experience-box">
        <h3>Proiecte realizate</h3>
        <div class="number">100+</div>
        <p>Proiecte executate cu succes, de la apartamente moderne la spații comerciale.</p>
    </div>
</div>
<div class="Portofolio">
    <h1>Proiecte</h1>
</div>




