
@{
    ViewBag.Title = "Index";
}

@section BodyClass {
    index-background-body
}
@Html.Partial("_Header")
<div class="index-background-content">
    <div class="image-container">
        <img class="index-image" src="@Url.Content("~/Content/Images/3%20(1).jpg")" alt="Background">
    </div>
</div>





