@{
    ViewBag.Title = "Index";
}

@section BodyClass {
    index-background-body
}
@Html.Partial("_Header")
<div class="index-background-content">
    <div class="image-container">
        <img class="index-image" src="@Url.Content("~/Content/Images/3%20(1).jpg")" alt="Background">
        <div class="image-overlay"></div>
        <div class="image-container-text">
            <div class="general-info">
                <h1>MVG Design Interior</h1>
                <p>
                    Transformă spațiile tale în locuri de poveste, unde funcționalul întâlnește rafinamentul.Design interior personalizat, cu atenție la detalii și stil atemporal.<br>
                    Contactează-ne să găsim împreună soluția perfectă.
                </p>
                <button class="contact-btn">Contactează-ne pentru detalii</button>
            </div>
        </div>
    </div>
</div>





