
@{
    ViewBag.Title = "Services";
}
@Html.Partial("_Header")

<div class="services-background-content">
    <div class="services-images-container">
        <img class="services-image" src="~/Content/Images/6.jpg" alt="Background">
        <div class="overlay">
            <div class="overlay-text">
                <h1>Servicii</h1>
                <p>Îți oferim pachete flexibile de design interior, adaptate nevoilor tale  de la consultanță rapidă, până la amenajări complete. </p>
            </div>
        </div>
    </div>
</div>

